importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "hist", "lines", "points", "title")
importFrom("stats", "dnorm", "formula", "lm", "median", "na.omit", "predict", "sd")
importFrom("utils", "read.csv", "write.csv")
importFrom("data.table", "data.table")
importFrom("data.table", "tables")
importFrom("data.table", "setkey")
importFrom("data.table", "setkeyv")
importFrom("data.table", "key")
importFrom("data.table", "as.data.table")
importFrom("data.table", "is.data.table")
importFrom("data.table", "test.data.table")
importFrom("data.table", ":=")
importFrom("data.table", "setnames")
importFrom("data.table", "rbindlist")
importFrom("seqinr", "read.fasta")
importFrom("caret", "createFolds")
importFrom("plyr", "ddply")
importFrom("plyr", "ldply")
importFrom("plyr", ".")
importFrom("lattice", "levelplot")
importFrom("randomForest", "randomForest")
importFrom("ROCR", "prediction")
importFrom("ROCR", "performance")
importFrom("ROCR", "plot")
importFrom("reshape2", "acast")
importFrom("protiq", "iterateScampi")
importFrom("protiq", "runScampi")

export("AbsoluteQuantification", "ProteinInference", "PeptideInference", "APEX", "proteotypic", "apexFeatures", "ALF", "cval", "import", "export", "pivot")

S3method("AbsoluteQuantification", "default")
S3method("predict", "AbsoluteQuantification")
S3method("cval", "AbsoluteQuantification")
S3method("print", "AbsoluteQuantification")
S3method("plot", "AbsoluteQuantification")
S3method("hist", "AbsoluteQuantification")
S3method("export", "AbsoluteQuantification")

S3method("ProteinInference", "default")
S3method("PeptideInference", "default")

S3method("APEX", "default")
S3method("predict", "APEX")
S3method("cval", "APEX")
S3method("print", "APEX")
S3method("plot", "APEX")

S3method("proteotypic", "default")

S3method("apexFeatures", "default")
S3method("print", "apexFeatures")

S3method("ALF", "default")

S3method("import", "default")

S3method("pivot", "default")
S3method("pivot", "AbsoluteQuantification")
